<div class="row">
  <div class="col-4">
    <p class="card-text">Recherche par nom</p>
  </div>
  <div class="col-4">
    <input class="card-text" #saisie/>
  </div>

  <div class="col-4">
    <a class="btn btn-primary" role="button" (click)="recherche(saisie.value)">Rechercher</a>
  </div>
</div>

<div class="row">
  <ul>
    <li *ngFor="let collegue of listeCollegue | async ">
      <button (click)="affichMatricule(collegue.matricule)">Matricule : {{collegue.matricule}}</button>
    </li>
  </ul>
</div>
