<div class="row" *ngIf="affichage">
  <div class="col-10 mb-2 mt-2">
    <p>Modifier Collegue</p>
    <form #etatForm="ngForm">
      <div class="card">
        <h5 class="card-header">{{collegue.nom}} {{collegue.prenoms}}</h5>
        <div class="card-body">
          <div class="row">

            <div class="col-3 text-center">
              <img src="{{collegue.photoUrl}}" width="80" height="80">
            </div>
            <div class="col-5 offset-xl-1">
              <div class="row">
                <div class="col">
                  <p class="card-text">Matricule</p>
                </div>
                <div class="col">
                  <p class="card-text"> {{collegue.matricule}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text">Nom</p>
                </div>
                <div class="col">
                  <p class="card-text">{{collegue.nom|uppercase}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text">Prénoms</p>
                </div>
                <div class="col">
                  <p class="card-text"> {{collegue.prenoms}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text">Date de Naissance</p>
                </div>
                <div class="col">
                  <p class="card-text">{{collegue.dateDeNaissance|date}}</p>
                </div>
              </div>
              <div class="row" *ngIf="isHidden == false">
                <div class="col">
                  <p class="card-text">Email</p>
                </div>

                <div class="col">
                <input name="email" type="email" [(ngModel)]="collegue.email" value="{{collegue.email}}"  ngModel email="true" #etatEmail="ngModel" required />
                  <p *ngIf="etatEmail.invalid && etatEmail.dirty">Vous devez saisir un email valide</p>
                </div>


              </div>


              <div class="row" *ngIf="isHidden == false">
                <div class="col">
                  <p class="card-text">Photo Url</p>
                </div>
                <div class="col" >
                  <input name="photoUrl" [(ngModel)]="collegue.photoUrl" minlength="7" value="{{collegue.photoUrl}}" #etatPhoto="ngModel" required />
                  <p *ngIf="etatPhoto.invalid && etatPhoto.dirty">Vous devez saisir une url valide</p>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-1">

            <div class="col-xl-4" *ngIf="isHidden;else btnValid">
              <a class="btn btn-primary"  (click)="modifier()" role="button">Modifier</a>
            </div>

            <ng-template #btnValid>
              <div class="col-xl-4" *ngIf="etatForm.valid">
                <a class="btn btn-primary" role="button" (click)="sendModifier(etatForm)">Valider</a>
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </form>


  </div>
</div>
<p>{{msgModif}}</p>
